.btn {
  display: inline-block;
  margin: 0 auto;
  padding: 0 1.2rem 0 0;
  position: relative;

  color: $color-primary;
  text-decoration: none;

  background-color: $white;
  box-shadow: 0px 2px 2px 0px rgba(1, 1, 1, 0.27);
  border: 1px solid $color-primary;
  border-radius: 4px;

  &:disabled,
  &:disabled:focus,
  &:disabled:hover {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: none;
  }

  @media screen and(min-width: $small) {
    padding: $space-sm 1rem;
    }

  &--primary {
    background-image: linear-gradient( 360deg, rgb(41,84,163) 0%, rgb(80,127,213) 100%);

    @media screen and(max-width: $small) {
      padding: 0 1.2rem 0 0;
    }

    .icon-bg {
      position: absolute;
      top: 50%;
      left: 10px;
      &::before {
        position: absolute;
        left: 0;
        content: "";
        width: 5px;
        height: 5px;
        background: $color-primary;
        border-radius: 50%;
      }
    }
  }

  &--secondary {
    color: $body-color;
    padding: 0.5rem 1.5rem 0.5rem 0.7rem;
    background-image: linear-gradient( 360deg, rgb(238, 238, 238) 0%, rgb(238,238,238) 17%, rgb(255, 255, 255) 100%);
    border-radius: 3rem;

    @media screen and(max-width: $small) {
      width: 100%;
      padding: 0.6rem;
    }
  }

  &--google {
    height: 4.375rem;
    background-image: linear-gradient( 360deg, rgb(198,63,40) 0%, rgb(248,96,69) 100%);

    @media screen and(max-width: $small) {
      padding: 0 1.2rem 0 0;
    }
  }

  &--body {
    display: inline-block;
    margin: 0 10px;

    @media screen and(min-width: $small) {
      min-width: 24.2rem;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }
}

