.header-desktop {
	.top-header {
		margin-top: 15px;
		.top-bar {
			ul {
				list-style: none;
				padding-left: 0;
				flex-wrap: wrap;
				margin-bottom: 10px;
				li {
					position: relative;
					margin-right: 5px;
					
					&:last-child {
						margin-right: 0;
					}
					a {
						padding-right: 5px;
						color: $color-link;
						border-right: 1px solid $color-link;
						display: inline-block;
						&:hover {
							color: #3c3c3c;
							text-decoration: none;

						}
					}
					&.cart {

						a {
							border-right: none;
							span {
								margin-right: 5px;
								color: $color-primary;
							}
							

						}
						.product-added {
							position: absolute;
							right: 0;
							top: 100%;
							width: 220px;
							box-shadow: 0px 0px 10px $color-link;
							text-align: center;
							padding-top: 10px;
							padding-bottom: 10px;
							font-size: 12px;
							z-index: 10;
							background-color: $white;
							@include rounded(6px);
							@include transition(all 0.3s);
							display: none;
							p {
								margin-bottom: 5px; 
								i {
									color: $color-primary;
									margin-right: 5px;
								}
							}
							&:after {
								position: absolute;
								content: "";
								right: 50px;
								border: solid $color-link;
								border-width: 0 1px 1px 0;
								display: inline-block;
								padding: 5px;
								top: -6px;
								transform: rotate(-135deg);
	    						-webkit-transform: rotate(-135deg);
	    						background-color: $white;
							}
							a {
								display: inline-block;
								padding: 5px 10px;
								@include rounded(6px);
								background-color: $color-primary;
								color: $white;
							}
						}
						&:hover {
							.product-added { 
								display: block;
							}
						}
					}
					&.member-logged {
						padding-bottom: 10px;
						img {
							max-width: 25px;
							margin-right: 5px;
						}
						a {
							color: $color-primary;
							span {
								display: block;
							}
						}
						.profile {
							position: absolute;
						    left: 50%;
						    transform: translateX(-50%);
						    top: 100%;
						    width: 155px;
						    box-shadow: 0px 0px 10px #9d9d9d;
						    text-align: center;
						    padding-top: 10px;
						    padding-bottom: 10px;
						    font-size: 12px;
						    z-index: 10;
						    background-color: #fff;
						    border-radius: 6px;
						    transition: all 0.3s;
						    display: none;
						    &:after {
								position: absolute;
								content: "";
								right: 50px;
								border: solid $color-link;
								border-width: 0 1px 1px 0;
								display: inline-block;
								padding: 5px;
								top: -6px;
								transform: rotate(-135deg);
	    						-webkit-transform: rotate(-135deg);
	    						background-color: $white;
							}
							ul {
								padding-left: 15px;
								text-align: left;
								li {
									padding-bottom: 0;
									a {
										border: none;
										display: inline-block;
										padding-top: 5px;
										padding-bottom: 5px;
										color: #000;
										&:hover {
											color: $color-primary;
										}

									}
									span {
										display: inline-block;
										width: 15px;
										height: 15px;
										border-radius: 50%;
										background-color: $color-primary;
										text-align: center;
										line-height: 15px;
										color: #fff;
										font-size: 10px;
									}
								}
							}
						}
						&:hover {
							.profile {
								display: block;
							}
						}
					}
					&.member-login {
						padding-bottom: 15px;
						.beecoin {
							position: absolute;
							left: 50%;
							transform: translateX(-50%);
							top: 80%;
							background-color: $color-primary;
							color: $white;
							
							text-align: center;
							padding: 2px 5px;
							width: 80%;
							z-index: 10;
							@include rounded(4px);
							@include transition(all 0.3s);
							&:after {
								position: absolute;
								content: "";
								width: 0; 
								top: -5px;
								left: 50%;
							  	height: 0; 
							  	border-left: 5px solid transparent;
							 	border-right: 5px solid transparent;
							  
							  	border-bottom: 5px solid $color-primary;	
							}
						}
					}
				}
			}
		}
	}
	@media(max-width: 991px) {
		display: none;
	}
}
.middle-bar {
	flex-wrap: wrap;
	.logo {
		width: 30%;
		margin-top: -50px;
		margin-bottom: 15px;
		img {
			max-width: 100%;
		}
	}
	.search-area {
		width: 50%;
		margin-top: 20px;
		.form-group {
			position: relative;
			
			input[type="text"] {
				height: 48px;
				width: 95%;
				padding-left: 10px;
				border: 1px solid $color-primary;
				&:focus{
					outline: none;
				}
			}
			button[type="submit"] {
				width: 30px;
				height: 30px;
				background: url(../images/icon/icon-search.png) center no-repeat;
				border: none;
				color: transparent;
				position: absolute;
				right: 30px;
				top: 10px;
			}

		}
	}
	.phone {
		width: calc(18% - 40px);
		@include rounded(30px);
		margin-top: 19px;
		flex-wrap: wrap;
		border: 1px solid $color-primary;
		height: 46px;
		padding-top: 5px;
		padding-left: 5px;

		.phone-icon {
			margin-right: 10px;
			float:left;
		}
		p {
			margin-bottom: 0;
			font-size: 13px;
			margin-top: 2px;
			color: $color-link;
			&.phone-number {
				color: $color-primary;
				font-weight: bold;
			}
		}

	}
}
.main-nav {
	background-color: $color-primary;
	height: 54px;
	.category-toggle {
		float: left;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: $white;
		width: 200px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		display: inline-block;
		cursor: pointer;

		@include rounded(20px);
		a.collapse-button {
			font-size: 20px;
			display: inline-block;
			vertical-align: middle;
			color: $color-primary;
			line-height: 46px;
			font-weight: 600;
			&:hover {
				text-decoration: none;
			}
			i {
				font-size: 50px;
				color: $color-primary;
				margin-right:10px;
				vertical-align: middle;
				&.fa-close {
					font-size: 54px;
				}
			}
		}
		a.collapse-button[aria-expanded="false"] {
			i.fa.fa-close {
				display: none;
			}
		}
		a.collapse-button[aria-expanded="true"] {
			i.fa.fa-bars {
				display: none;
			}
			i.fa.fa-close {
				display: inline-block;
			}
		}
		#category-collapse {
			display: none;
			@include transition(all 0.3s);
			.card.card-body {
				z-index: 999;
				padding: 0;
				border: 1px solid $color-primary;
				border-radius: 4px;
				.category-list {
					text-align: left;
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					margin-top: 0;
					 li {
						position: relative;
						background-color: $color-primary;
						
						 a {
							display: block;
							border-bottom: 1px solid $white;
							color: $white;
							font-size: 16px;
							padding-left: 10px;
							padding-right: 10px;
						}
						.sub-menu {
							list-style: none;
							position: absolute;
							left: 100%;
							top: 0;
							width: 180px;
							background-color: $white;
							display: none;
							padding-left: 20px;
							padding-top: 15px;
							padding-bottom: 15px;
							li {
								background-color: $white;
								border-left: 1px solid #000;
								position: relative;
								a {
									color: #000;
									&:hover {
										color: $color-primary;
									}
									i {
										float: right;
										line-height: 46px;
										font-size: 18px;
									}
								}
								.sub-menu-sub {
									position: absolute;
									left: 100%;
									width: 150px;
									top: 0;
									background-color: #e8e8e8;
									list-style: none;
									padding:10px 20px;
									display: none;
									@include transition(all 0.3s);
									li {
										background-color: #e8e8e8;
										border-left: none;
										line-height: 24px;
										border-bottom: 1px solid #d8d8d8;
										&:last-child {
											border: none;
										}
										a {
											font-size: 14px;
											color: $color-link;
											&:hover {
												color: #000;
											}
										}
									}
								}
								&:hover {
									.sub-menu-sub {
										display: block;
									}
								}
							}
						}
						&:last-child {
							a {
								border: none;
							}
						}
						&:hover {
							background: $white;
							a {
								color: $color-primary;
								border-color: transparent;
							}
							.sub-menu {
								display: block;
							}
						}
					}
				}
			}
			
		}
		&:hover {
			#category-collapse { 
				display: block;
			}
		}
	}
	.navbar {
		.navbar-collapse {
			ul {
				li {
					margin-right: 5px;
					padding-top: 10px;
					padding-bottom: 5px;
					a {
						padding-top: 0;
						padding-bottom: 0;
						color: $white;
						border-right: 2px solid #eaaa00;
						font-size: 18px;
						line-height: 1;
					}
					&:last-child {
						padding-top: 0;
						margin-left: 10px;
						a {
							border-right: none;
							border-radius: 8px;
							background-color: $white;
							color: $color-primary;
							padding: 10px;
							padding-left: 30px;
							display: block;
							position: relative;
							&:before {
								content: "";
  								position: absolute;
  								width: 10px;
  								height: 10px;
  								border-radius: 50%;
  								background:$color-primary;
  								left: 10px;
  								top: 50%;
  								transform: translateY(-50%);
							}
						}

					}
					border-bottom: 3px solid transparent;
					&.active, &:hover {
						border-color: $white;
					}
					&:last-child {
						&:hover {
							border-color: transparent;
						}
					}
				}
			}
		}
	}
}
.mobile-header {
	#header-mobile {
	    position: fixed;
	    top: 0;
	    bottom: 0;
	    z-index: 9999;
	    width: 300px;
	    left: -300px;
	    height: 100%;
	    padding-top: 20px;
	    background-color: $white;
	    @include translate(0, 0);
	 	@include transition(all 0.3s);
	 	&.active {
	 		@include translate(300px, 0);
	 		
	 	}
	 	.top-header {
	 		.phone {
	 			border: 1px solid $color-primary;
			    height: 32px;
			   	padding-top: 1px;
			   	padding-left: 1px;
			    border-radius: 30px;
			    margin-left: 10px;
			    width: 38%;
			    .phone-icon {
			    	display: inline-block;
			    	vertical-align: middle;
			    	img {
			    		max-width: 30px;
			    	}
			    }
			    .phone-number {
			    	display: inline-block;
			    	color: $color-primary;
			    	font-weight: bold;
			    	vertical-align: middle;
			    	font-size: 12px;
			    	margin-bottom: 0;
			    }
	 		}
	 		.user-link {
	 			width: 62%;
	 			list-style: none;
	 			li {
	 				display: inline-block;
	 				position: relative;
	 				a {
	 					padding-right: 5px;
					    color: #9d9d9d;
					    border-right: 1px solid #9d9d9d;
					    font-size: 12px;
	 				}
	 				&:last-child {
	 					a {
	 						border: none;
	 					}
	 				}
	 				&.member-login {
	 					padding-bottom: 15px;
	 					.beecoin {
	 						position: absolute;
						    left: 50%;
						    transform: translateX(-50%);
						    top: 85%;
						    background-color: #ed1863;
						    color: #fff;
						    text-align: center;
						    padding: 2px 5px;
						    width: 80%;
						    z-index: 10;
						    border-radius: 4px;
						    font-size: 12px;
						    &:after {
						    	position: absolute;
							    content: "";
							    width: 0;
							    top: -5px;
							    left: 50%;
							    height: 0;
							    border-left: 5px solid transparent;
							    border-right: 5px solid transparent;
							    border-bottom: 5px solid #ed1863;
						    }
	 					}
	 				}

	 			}
	 			padding-left: 15px;
	 			img {
	 				max-width: 30px;
	 				display: inline-block;
	 			}
	 			.username {
	 				display: inline-block;
	 				vertical-align: middle;
	 				font-size: 12px;
	 				span {
	 					color: $color-primary;
	 				}
	 			}
	 			&.member-logged {
	 					position: relative;
	 					cursor: pointer;
	 					.profile {
							position: absolute;
						    left: 50%;
						    transform: translateX(-50%);
						    top: 100%;
						    width: 155px;
						    box-shadow: 0px 0px 10px #9d9d9d;
						    text-align: center;
						    padding-top: 10px;
						    padding-bottom: 10px;
						    font-size: 12px;
						    z-index: 10;
						    background-color: #fff;
						    border-radius: 6px;
						    transition: all 0.3s;
						    display: none;
						    &:after {
								position: absolute;
								content: "";
								right: 50px;
								border: solid $color-link;
								border-width: 0 1px 1px 0;
								display: inline-block;
								padding: 5px;
								top: -6px;
								transform: rotate(-135deg);
	    						-webkit-transform: rotate(-135deg);
	    						background-color: $white;
							}
							ul {
								padding-left: 15px;
								text-align: left;
								li {
									padding-bottom: 0;
									display: block;
									a {
										border: none;
										display: inline-block;
										padding-top: 5px;
										padding-bottom: 5px;
										color: #000;
										&:hover {
											color: $color-primary;
										}

									}
									span {
										display: inline-block;
										width: 15px;
										height: 15px;
										border-radius: 50%;
										background-color: $color-primary;
										text-align: center;
										line-height: 15px;
										color: #fff;
										font-size: 10px;
									}
								}
							}
						}
						&:hover {
							.profile {
								display: block;
							}
						}
	 				}
	 		}

		}
		.main-nav-mobile {
			margin-top: 30px;
			
			h3 {
				color: $color-primary;
				text-align: center;
				background-color: $white;
			}
			.navbar-nav {
				 li.nav-item {
					position: relative;
					
					 a {
						padding-left: 10px;
						padding-right: 10px;
						color: $color-link;
						font-weight: 600;
						border-left: 2px solid transparent;
						border-top: 1px solid #ccc;
						font-size: 12px;
						&:hover {
							color: $color-primary;
							text-decoration: none;

						}
					}

					&.active {
						a {
							border-left: 2px solid #000;
						}
						ul {
							li {
								a {
									border-left: 2px solid transparent;
								}
							}
						}
						
					}
					&:last-child {
						
						a {
							border-bottom: none;

							border-radius: 8px;
							
							color: $color-primary;
							
							display: block;
							position: relative;
							&:before {
								content: "• ";
  								color: red;
  								left: 3px;
  								top: 50%;
							}
						}
					}
					.sub-menu {
						background-color: #e7e7e7;
						list-style: none;
						padding-left: 0;
						display: none;
						li {
							a {
								color: $color-link;
								padding-left: 20px;
								font-size: 12px;
							
								display: block;
								padding-top: 5px;
								padding-bottom: 5px;
								&:hover {
									color: $color-primary;
								}
							}
							&.active {
								a {
									background-color: #b9b9b9;
								}
							}
						}
					}
					&.has-submenu {
						&:after {
							position: absolute;
							right: 10px;
							top: 5px;
							font-family: FontAwesome;
    						content: "\f107";
						}
						&.active {
							&:after {
								content: "\f106";
							}
							
						}
					}
				}
			}
		}
		.category-mobile {
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 30px;
			h3 {
				color: $color-primary;
				text-align: center;
				background-color: $white;
			}
			ul {
				list-style: none;
				padding-left: 0;
				
				li {
					text-align: center;
					a {
						color: $white;
						display: block;
						border-bottom: 1px solid #ccc;
						padding: 0.5rem 1rem;
						&:hover {
							color: #3c3c3c;
							text-decoration: none;

						}
					}
					
				}
			}
		}

	}
	.content-mobile-menu {
		background-color: $color-primary;
		.toggle-mobile-menu {
		   	@include translate(0, 0);
			@include transition(all 0.3s); 
			z-index: 100;
			margin-left: 10px;
			width: 15%;
			.menu-link {
				width: 30px;
				height: 60px;
				cursor: pointer;
				z-index: 100;
				position: relative;
				@include rotate(0deg);
		 		@include transition(all 0.5s); 
				span {
					display: block;
					position: absolute;
					height: 3px;
					width: 100%;
					background:	$white;
					border-radius: 9px;
					display: block;
					left: 0;
					@include rotate(0deg);
					@include transition(all 0.25s); 
					&:nth-child(1) {
						 top: 20px;
					}
					&:nth-child(2) {
						 top: 30px;
					}
					&:nth-child(3) {
						 top: 40px;
					}
					
				}
			}
			&.active {
				@include translate(300px, 0);
		 		.menu-link {
		 			span {
		 				&:nth-child(1) {
						 top: 30px;
						 @include rotate(135deg);
						}
						&:nth-child(2) {
							display: none;
							left: -30px;
						}
						&:nth-child(3) {
							top: 30px;
							@include rotate(-135deg);
						}
		 			}
		 		}
			}
			
		}
		.logo-mobile {
			text-align: center;
			width: 55%;
			img {
				max-height: 50px;
			}
		}
		.mobile-cart {
			text-align: right;
			width: 15%;
			
			img {
				max-width: 20px;
			}
		}
		.mobile-serch {
			width: 15%;
		
			img {
				width: 18px;
			}
			.toggle-search {
				position: relative;
				.search-box {
					position: absolute;
					top: 95%;
					right: 0;
					width: 250px;
					display: none;
					z-index: 999;
					.form-group {
						position: relative;
						
						input[type="text"] {
							height: 48px;
							width: 95%;
							padding-left: 10px;
							border: 1px solid $color-primary;

							&:focus{
								outline: none;
							}
						}
						button[type="submit"] {
							width: 30px;
							height: 30px;
							background: url(../images/icon/icon-search.png) center no-repeat;
							border: none;
							color: transparent;
							position: absolute;
							right: 10px;
							top: 10px;
						}

					}
				}
				&:hover {
					background-color: #b2124a;
				}
			}
		}
		.item-header-mobile {
			
			height: 60px;
			line-height: 55px;
			text-align: center;
		}
		
	}
	@media(min-width: $large) {
		display: none;
	}
}
.page-content {
	.main {
		.container {
			padding-left: 0;
			padding-right: 0;
			@media(max-width: 575px) {
				padding-left: 15px;
				padding-right: 15px;
				max-width: 92%;
			}
			position: relative;
			.sticky-sidebar {
				@media(max-width: 991px) {
					display: none;
				}
				position: absolute;
				top: 30px!important;
				width: 90px;
				right: -100px;
				z-index: 9999;

				text-align: center;
				.cart-history {
					background-color: $white;
					border-radius: 6px;
					border: 1px solid $color-border;
					h3 {
					font-size: 12px;
					text-transform: uppercase;
					color: #000;
					margin-top: 5px;
					}
					.list-product-history {
						.item {
							margin-top: 5px;
							position: relative;
							.delete {
								position: absolute;
								top: -6px;
								right: 15px;
								display: none;
								color: $color-primary;
							}
							&:hover {
								.delete {
									display: block;
								}
							}
						}
					}
					.cart-number {
						border-top: 1px solid $color-border;
						margin-top: 10px;
						padding-top: 10px;
						font-size: 12px;
						a {
							color: $color-link;
							margin-right: 20px;
							&:hover {
								color: $color-primary;
							}
						}
					}
				}
				.back-to-button {
					display: inline-block;
					width: 43px;
					
					height: 43px;
					line-height: 48px;
					border: 1px solid $color-border;
					margin-left: -2px;
					margin-right: -2px;
					cursor: pointer;
					i {
						font-size: 26px;
						@include transition(all 0.25s); 
						color: $color-link;
					}
					&:hover {
						i {
							color: $color-primary;
						}
					}
					&.back-to-top {
						border-radius: 6px 0 0 6px;
					}
					&.back-to-bottom {
						border-radius: 0 6px 6px 0;
					}
				}
			}
		}
	}
	
}

.overlay{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(0,0,0,0.3);
	@include transition(all 0.5s); 
}
.panation-cart {
	a {
		font-size: 12px;
		color: $color-link;
		&.active {
			color: #000;
		}
		&.prev-page {
			margin-right: 10px;
		}
		&.next-page {
			margin-left: 10px;
		}
	}
}
