.home-slide {
	max-width: 1140px;
	margin: auto;
	.slick-slide {
		img {
			@media(max-width: 639px) {
				max-height: 300px;
			}
		}
	}
	.slick-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		z-index: 99;
		border: none;
		color: transparent;
		width: 38px;
		height: 73px;
		background-color: #e5e5e5;
		border-radius: 0 20px 20px 0;
		cursor: pointer;
		&:after {
			position: absolute;
			font-family: FontAwesome;
  		    content: "\f104";
			top: 50%;
			color: #9d9d9d;
			font-size: 60px;
			transform: translateY(-50%);
			left: 5px;
			@include transition(all 0.3s);
		}
		&:hover {
			&:after {
				color: $color-primary;
			}
		}
		&:focus {
			outline: none;
		}
	}
	.slick-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		z-index: 99;
		border: none;
		color: transparent;
		width: 38px;
		height: 73px;
		background-color: #e5e5e5;
		border-radius: 20px 0 0 20px;
		cursor: pointer;
		&:after {
			position: absolute;
			font-family: FontAwesome;
  		    content: "\f105";
			top: 50%;
			color: #9d9d9d;
			font-size: 60px;
			transform: translateY(-50%);
			right: 5px;
			@include transition(all 0.3s);
		}
		&:hover {
			&:after {
				color: $color-primary;
			}
		}
		&:focus {
			outline: none;
		}
	}
}
.member-slide {

	.slide-item {
		img {
			margin: auto;
			width: 200px;
			height: 200px;
			@include rounded(50%);
		}
		position: relative;
		.meber-description {
			position: absolute;
			top: 50%;
			opacity: 0;
			width: 200px;
			height: 200px;
			left: 50%;
			transform: translate(-50%,-50%);
			@include rounded(50%);
			background-color: rgba(#000,0.5);
			@include transition(all 0.3s);
			color: $white;
			.text-description {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 20%;
			}
		}
		&:hover {
			.meber-description { 
				opacity: 1;
			}
		}
		&.live {
			img {
				border: 5px solid $color-primary;
			}
			.live-text {
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				color: $white;
				background: $color-primary;
				padding: 3px 5px;
				@include rounded(4px);
				&:before {
					content: "• ";
					color: $white;
					left: 3px;
					top: 50%;
				}
			}
		}

	}

	.slick-prev {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: -45px;
		z-index: 99;
		border: none;
		color: transparent;
		cursor: pointer;
		background: none;
		@media(min-width:480px) and (max-width: 1250px) {
			top: -30px;
			right: 30px;
			left: auto;
		}
		@media(max-width:480px) {
			
			left: 10px;
		}
		&:after {
			position: absolute;
			font-family: FontAwesome;
  		    content: "\f104";
			top: 50%;
			color: #9d9d9d;
			font-size: 60px;
			transform: translateY(-50%);
			left: 5px;
			@include transition(all 0.3s);
		}
		&:hover {
			&:after {
				color: $color-primary;
			}
		}
		&:focus {
			outline: none;
		}
	}
	.slick-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -45px;
		z-index: 99;
		border: none;
		color: transparent;
		background: none;
		border-radius: 20px 0 0 20px;
		cursor: pointer;
		@media(min-width:480px) and (max-width: 1250px) {
			top: -30px;
			right: 10px;
		}
		@media(max-width:480px) {
			
			right: 30px;
		}
		&:after {
			position: absolute;
			font-family: FontAwesome;
  		    content: "\f105";
			top: 50%;
			color: #9d9d9d;
			font-size: 60px;
			transform: translateY(-50%);
			right: 5px;
			@include transition(all 0.3s);
		}
		&:hover {
			&:after {
				color: $color-primary;
			}
		}
		&:focus {
			outline: none;
		}
	}
}
.main-title {
	text-align: center;
	font-weight: bold;
	color: $color-primary;
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
	h2 {
		display: inline-block;
  		position: relative;  
  		font-weight: 700;
  		text-transform: uppercase;
  		span {
			color: $black;
		}
		&:before, &:after {
			content: "";
			position: absolute;
			height: 2px;
			background-color: #acacac;
			top: 50%;
			width: 180px;
			margin-top: -1px;
		}
		&:before {
			right: 100%;
  			margin-right: 30px;
		}
		&:after {
			left: 100%;
 			margin-left: 30px;
		}
	}
	.countdown {
		position: absolute;
		right: 0;
		top: 0;
	}
	
}
.slick-dots {
	display: none!important;
}
.countdown {
	.list-time {
		list-style: none;
		font-size: 24px;
		color: $color-primary;
		font-weight: bold;
		li {
			display: inline-block;

		}
	}
}
.live-colection {
	.live-title {
		display: inline-block;
		.live-text {
			display: inline-block;
			color: $color-primary;
			padding: 1px 5px;
			border: 1px solid $color-primary;
			@include rounded(4px);
			position: relative;
			margin-right: 5px;
			font-weight: bold;
			&:before {
				content: "• ";
			    color:$color-primary;
			    left: 3px;
			    top: 50%;
			
			}
		}
		span {
			color: $color-primary;
			font-weight: bold;
		}
	}
	.countdown {
		display: inline-block;
	}
}
.content-hot-trend {
	margin-left: -15px;
	margin-right: -15px;
	@media(max-width: 991px) {
		flex-wrap: wrap;
	}
	.item-hot-trend {
		border: 1px solid $color-border;
		
		@include transition(all 0.3s);
		width: 25%;
		margin-left: 15px;
		margin-right: 15px;
		@media(max-width: 991px) {
			width: 45%;
			margin-top: 30px;
		}
		@media(max-width: 767px) {
			width: 40%;
			
		}
		.header-trend {
	        .avatar {
	        	position: relative;
	        	img {
					margin-right: 10px;
					border-radius: 50%;
				}
				
				&.active {
					img {
						border: 1px solid $color-primary;
					}
					span {
						position: absolute;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						padding: 1px 3px 1px 12px;
						font-size: 12px;
						display: inline-block;
						@include rounded(3px);
						background-color: $color-primary;
						color: $white;
						&:before {
							position: absolute;
							content: "• ";
						    color: $white;
						    left: 3px;
						    top: 0;
						}
					}
				}

	        }
			
			.member-info {
				padding-top: 10px;
				p {
					color: #000;
					margin-bottom: 0;
					&:first-child {
						font-weight: bold;
					}
					&:last-child {
						text-transform: uppercase;
						font-size: 12px;
					}
				}
			}
		}
		.thumbnail-trend {
			position: relative;
			> img {
				width: 100%;
			}
			.overlay-content {
				position: absolute;
				left: 0;
				opacity: 0;
				top: 0;
				width: 100%;
				bottom: 0;
				background-color: rgba(#000,0.45);
				@include transition(all 0.3s);
				
				> h3 {
					position: absolute;
					left: 0;
					width: 100%;
					text-align: center;
					top: calc(50% - 90px);
					color: $white;
					font-weight: 500;
					text-transform: uppercase;
				}
				.love {
					position: absolute;
					bottom: 95px;
					right: 15px;
					i {
						font-size: 50px;
						color: $white;
						font-weight: 300;
					}
				}
				.product-info {
					
					position: absolute;
					width: 100%;
					bottom: -1px;
					height: 90px;

					background-color: $white;
					.left-info {
						padding-top: 10px;
						padding-left: 15px;
						width: 70%;
						h3 {
							a {
								font-size: 14px;
								color: #000;
								font-weight: 700;
								margin-bottom: 30px;
								&:hover {
									color: $color-primary;
									text-decoration: none;
								}
							}
							
						}
						.price {
							font-size: 22px;
							color: #000;
						}
					}
					.right-info {
						margin-top: 50px;
						text-align: right;
						padding-right: 15px;
						width: 30%;
						.content-right-info {
							display: inline-block;
							background-color: $color-primary;
							color: $white;
							padding: 2px 8px;
							border-radius: 4px;
							img {
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
		&:hover {
			border-color: $color-primary;
			border-bottom: 1px solid transparent;
			.thumbnail-trend {
				.overlay-content {
					opacity: 1;
					.product-info { 
						border-color: $color-primary;
					}
				}
			}
		}
	}
}