.header-shop {
	padding-top: 60px;
	padding-bottom: 40px;
	border-bottom: 1px solid $color-border;
	margin-bottom: 30px;
	.avatar {
		position: relative;
		margin-right: 30px;
		img {
			width: 320px;
			height: 320px;
			border-radius: 50%;
		}
		&.active {
			
			img { 
				border: 5px solid $color-primary;
			}
		}
		.live-text {
			position: absolute;
		    left: 50%;
		    bottom: -10px;
		    transform: translateX(-50%);
		    color: #fff;
		    background: #ed1863;
		    padding: 5px 10px 5px 25px;
		    border-radius: 4px;
		    &:before {
		    	position: absolute;
		    	content: '';
		    	top: 50%;
		    	transform: translateY(-50%);
		    	left: 8px;
		    	width: 10px;
		    	height: 10px;
		    	border-radius: 50%;
		    	background-color: $white;

		    }
		}
	}
	.user-info-detail {
		@media(max-width: 767px) {
			margin-top: 30px;
		}
		.user-name {
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 10px;
		}
		.social-url {
			margin-top: 10px;
			.item-url {
				a {
					font-size: 20px;
					font-style: italic;
					color: $color-primary;
				}
			}
		}
		.social-follow {
			margin-top: 50px;
			@media(max-width: 767px) {
				margin-top: 30px;
				border-top: 1px solid $color-border;
				position: relative;
				width: calc(100% - 40px);
			}
			.follow-item {
				margin-right: 65px;
				@media(max-width:767px) {
					display: flex;
					.follow-description {
						margin-left: 20px;
						margin-top: 0!important;
					}
				}
				.icon-follow {
					float: left;
					margin-right: 10px;
					img {
						max-width: 60px;
					}
				}
				.number-follow {
					float: left;
					font-size: 26px;
					font-weight: 600;
					padding-top: 30px;
				}
				.follow-description {
					width: 170px;
					height: 60px;
					margin-top: 10px;
					text-align: center;
					border-radius: 8px;
					border: 1px solid $color-primary;
					line-height: 60px;
					color: $color-primary;
					font-size: 20px;
					cursor: pointer;
					text-transform: uppercase;
					transition: all 0.3s;
					&:hover {
						background: $color-primary;
						color: $white;
					}
					span {
						font-weight: bold;
						margin-left: 5px;
					}
					
						
					
				}

				&:last-child {
					@media(max-width: 767px) {
						margin-top: 30px;
					}
				}
				@media(max-width: 490px) {
					margin-top: 30px;
				}
			}
		}
	}
}

.folow-button {
	position: relative;
	
	&.active {
		&:before {
			position: absolute;
			left: 25px;
			top: 50%;
			transform: translateY(-50%);
			
			font-family: FontAwesome;
			content: "\f00c";
		}
	}
	
}
.tab-products {
	margin-top: 30px;
	> ul.tabs {
		padding-left: 0;
		
		border-bottom: 1px solid $color-border;
		li {
			display: inline-block;
			list-style: none;
			margin-right: 30px;
			a {
				@include transition(all 0.3s);
				font-size: 22px;
				font-weight: 600;
				padding: 10px;
				display: inline-block;
				border-bottom: 1px solid transparent;
				&:hover, &.active {
					border-bottom: 1px solid #000;
				}

			}
			&:first-child {
				a {
					color: #000;
				}
			}
			&:nth-child(2) {
				a {
					color: #9d9d9d;
				}
			}
			&:nth-child(3) {
				a {
					color: $color-primary;
				}
			}
			.countdown {
				@media(max-width: 991px) {
					margin-top: 20px;
					margin-bottom: 20px;
				}
				.list-time {
					padding-left: 0;
					li {
						margin-right: 0;
					}
					
				}
			}
			
		}

	}
	.tab-content {
		ul.tabs {
			padding-left: 0;
			margin-bottom: 30px;
			li {
				list-style: none;
				display: inline-block;
				a {
					padding-left: 15px;
					padding-right: 15px;
					border-left: 1px solid #000;
					color: #000;
					font-size: 16px;
					&.active, &:hover {
						color: $color-primary;
					}
				}
				&:first-child {

					a {
						border-left: none;
					}
				}
			}
		}
	}
}
.list-products {
	margin-top: 30px;
	&:first-child {
		margin-top: 0;
	}
	.item-product-list {
		width: calc(50% - 30px);
		margin-right: 60px;
		@media(max-width: 767px){
			width: 100%;
			margin-right: 0;
			margin-top: 30px;
			&:first-child {
				margin-top: 0;
			}
		}
		&:last-child {
			margin-right: 0;
		}
		.thumbnail-product {
			width: 40%;
			margin-right: 30px;
			position: relative;
			border: 1px solid $color-border;
			.avatar {
				position: absolute;
				top: 0;
				left: 0;
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
			}
		}
		.info-product {
			width: 60%;
			h3 {
				a {
					font-size: 18px;
					color: #000;
					font-weight: 600;
					&:hover {
						color: $color-primary;
					}
				}
			}
			.excerpt {
				color: #000;
			}
			.price {
				margin-top: 20px;
				font-size: 26px;
				color: $color-primary;
				font-weight: 600;
			}
			p {
				margin-bottom: 10px;
				color: #9d9d9d;
			}
			.order {
				a {
					display: inline-block;
					font-size: 18px;
					margin-right: 5px;
					padding: 10px 20px;
					border: 1px solid transparent;
					background: $color-primary;
					color: $white;
					border-radius: 6px;
					&:hover {
						border-color: $color-primary ;
					    color: $color-primary;
					    background-color: #fff;
					}
				}
				span {
					font-size: 16px;
					color: $color-primary;
					vertical-align: bottom;
					@media(max-width: 600px) {
						display: block;
						margin-top: 5px;
					}
				}
			}
		}
	}
}

.star-rating {
    direction: rtl;
    display: inline-block;
   
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: $color-primary;
}
.header-review {
	h2 {
		font-size: 22px;
		color: #000;
		span {
			font-weight: 600;
		}
	}
	.review-count {
		margin-right: 10px;
		i {
			color: $color-primary;
		}
	}
	.rating-count {
		margin-right: 10px;
	}
}
.block-review {
	margin-top: 10px;
	.review-detail {
		width: 65%;
		@media(max-width: 991px) {
			width: 100%;	
		}
		.title-review {
			h2 {
				font-size: 20px;
				color: #666666;
				padding-bottom: 10px;
				border-bottom: 1px solid $color-border;
				padding-left: 10px;
			}
		}
		.thumbnail {
			width: 40%;
			@media(max-width: 767px) {
				width: 100%;	
				text-align: center;
			}

		}
		.review-average {
			width: 25%;
			@media(max-width: 767px) {
				width: 50%;	
			}
			@media(max-width: 480px) {
				width: 100%;	
			}
			text-align: center;
			margin-top: 30px;
			.average {
				width: 125px;
				height: 125px;
				background: url(../images/bg-star.png) center no-repeat;
				background-size: 100%;
				margin: auto;
				line-height: 125px;
				color: $white;
				font-size: 36px;
			}
			.review-count {

				i {
					color: $color-primary;
				}
			}
		}
		.rating-block {
			width: 35%;
			@media(max-width: 767px) {
				width: 50%;	
			}
			@media(max-width: 480px) {
				width: 100%;
				padding-left: 30px;	
			}
			margin-top: 30px;
			h3 {
				font-size: 16px;
				font-weight: 600;
			}
			.progress-review {
				.middle {
					padding-top: 8px;
					margin-left: 10px;
					margin-right: 10px;
					.progress-bar {
						height: 6px;
						background: $color-primary;
						vertical-align: middle;
						border-radius: 6px;
						
					}
					.progress-bar[aria-valuenow="5"] {
						width: 130px;
					}
					.progress-bar[aria-valuenow="4"] {
						width: 55px;
					}
					.progress-bar[aria-valuenow="3"] {
						width: 20px;
					}
					.progress-bar[aria-valuenow="2"] {
						width: 10px;
					}
					.progress-bar[aria-valuenow="1"] {
						width: 3px;
					}
				}
			}
		}
	}
	.review-action {
		width: 35%;
		@media(max-width: 991px) {
			width: 100%;	
		}
		.title-review {
			h2 {
				font-size: 20px;
				color: #666666;
				padding-bottom: 10px;
				border-bottom: 1px solid $color-border;
			}
		}
		.rating-action {
			span.title {
				margin-right: 10px;
			}
			.star-rating {
				margin-right: 10px;
			}
		}
		.rating-comment {
			form {
				overflow: hidden;
				textarea {
					margin-top: 10px;
					height: 155px;
					position: relative;
					width: calc(100% - 22px);
					padding: 10px;
					color: #666666;
					
				}
				input[type="submit"] {
					float: right;
					background: #9d9d9d;
					border: none;
					color: $white;
					text-transform: uppercase;
					margin-right: 2px;
					padding: 5px 8px;
					cursor: pointer;
				}
				
			}
			a {
				display: block;
				text-align: right;
				margin-top: 5px;
				color: #000;
				font-style: italic;
				&:hover {
					color: $color-primary;
				}
			}
		}
		
	}
}