extends layouts/default

block content
	.container
		.row
			.col-xs-12
				h2 Buttons

				h3 Default (a, input, button)

				a.btn(href="#") Sử dụng mặc định

				input.btn(type="submit", value="Send Message")

				button.btn Load

				h3 primary button

				a.btn.btn--primary(href="#") live stream
					.icon-bg
