extends layouts/default

block content
	include includes/header.pug

	.page-content
		.header-shop
			.container
				.user-info.d-flex
					.avatar.active
						img(src="images/member-slide-2.png")
						.live-text LIVE
					.user-info-detail
						.user-name Kim Hee Song
						.description Ca sĩ, nhạc sĩ, diễn viên
						.social-url
							.item-url
								a(href="#") www.instagram.com/Kim Hee Song
							.item-url
								a(href="#") www.facebook.com/Kim Hee Song
						.social-follow.d-flex
							.follow-item
								.icon-follow
									img(src="images/icon-follow-1.png") 
								.number-follow 2000
								.clearfix
								.follow-description
									i.fa.fa-check 
									span Follow
							.follow-item
								.icon-follow
									img(src="images/icon-follow-2.png") 
								.number-follow 2000
								.clearfix
								.follow-description
									| Go 
									span Facebook
							.follow-item
								.icon-follow
									img(src="images/icon-follow-3.png") 
								.number-follow 2000
								.clearfix
								.follow-description
									| Go 
									span Instagram
		.main
			.container
				.sticky-sidebar
					.cart-history
						h3 Lịch sử
						.list-product-history
							.item
								img(src="images/hist-item-1.jpg")
							.item
								img(src="images/hist-item-2.jpg")
							.item
								img(src="images/hist-item-4.jpg")
						p.cart-number 
							a(href="#") Giỏ hàng
							span 1
					hr
					.back-to-button.back-to-top
						i.fa.fa-angle-up
					.back-to-button.back-to-bottom
						i.fa.fa-angle-down
			
				.live-colection
					.livestream-block.d-flex.flex-wrap
						.live-area.d-flex
							img(src="images/live-area.png")
							.overlay-play
								img(src="images/icon/icon-video.png")
								.title-live
									| Xem 
									span livestream 
									| nhận mã giảm giá
						.product-area.d-flex
							.left-product-area
								.thumbnail-product.slide-thumbnail-product
									.slide-item
										img(src="images/product-sale.jpg")
										.overlay-content
											| Xem stream nhận mã giảm giá
									.slide-item
										img(src="images/product-sale-2.jpg")
										.overlay-content
											| Xem stream nhận mã giảm giá
									.slide-item
										img(src="images/product-sale.jpg")
										.overlay-content
											| Xem stream nhận mã giảm giá
								.footer-product
									
									h3
										a(href="#") Nước Hoa Hồng
									
									.price.d-flex
										.price-detail
											.price-old 1.300.000đ
											.price-sale 910.000đ
										.sale-off
											p 30% off
									.in-store đã bán 99
									a(href="#").add-cart Mua ngay

							.right-product-area
								.multi-product-slide
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar.active
											img(src="images/avatar-1.png")
											span Live
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
									.slide-item.d-flex
										.avatar
											img(src="images/avatar-1.png")
										.product-name Áo vest
										.date-time
											p 16/08
											p 18.00 - 10.00
				.tab-products
					ul.tabs
						li
							a(href="#tab1") Sale Item
						li
							a(href="#tab2") Product Review
						li
							a(href="#tab3") Upcomming Product
						li
							.countdown(data-time="2018/09/28 8:30")
					#tab1.tab-content
						ul.tabs
							li
								a(href="#tab1-1") Popular
							li
								a(href="#tab1-2") New Product 
							li
								a(href="#tab1-3") Hight Discount
						#tab1-1.tab-content
							.products-sale
								.content-product-sale.d-flex.justify-content-center
									.item-product-sale.col-per-4.style-1
										.header-product-sale.d-flex
											.avatar
												img(src="images/avatar-1.png")
												
											.member-info
												p.name Trương Bảo Anh
												p.follow 2000 follows
										.thumbnail-product
											img(src="images/product-sale.jpg")
											.sold-out Sold out

										.footer-product.d-flex
											.left-footer-product
												h3
													a(href="#") Nước Hoa Hồng
												.review-count
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star-o
											.right-footer-product
												.price.d-flex
													.price-detail
														.price-old 1.300.000đ
														.price-sale 910.000đ
													.sale-off
														p 30% off
												.in-store đã bán 99
											
									.item-product-sale.col-per-4.style-1
										.header-product-sale.d-flex
											.avatar
												img(src="images/avatar-1.png")
												
											.member-info
												p.name Trương Bảo Anh
												p.follow 2000 follows
										.thumbnail-product
											img(src="images/product-sale.jpg")
											.overlay-content
												h3 99 Loves
												.love
													a(href="#")
														i.fa.fa-heart-o
														i.fa.fa-heart
										.footer-product.d-flex
											.left-footer-product
												h3
													a(href="#") Nước Hoa Hồng
												.sticky-heart +5
														img(src="images/icon/icon-heart.png")
											.right-footer-product
												.price.d-flex
													.price-detail
														.price-old 1.300.000đ
														.price-sale 910.000đ
													.sale-off
														p 30% off
												.in-store đã bán 99
									.item-product-sale.col-per-4.style-1
										.header-product-sale.d-flex
											.avatar
												img(src="images/avatar-1.png")
												
											.member-info
												p.name Trương Bảo Anh
												p.follow 2000 follows
										.thumbnail-product
											img(src="images/product-sale.jpg")
											.overlay-content
												h3 99 Loves
												.love.active
													a(href="#")
														i.fa.fa-heart-o
														i.fa.fa-heart
										.footer-product.d-flex
											.left-footer-product
												h3
													a(href="#") Nước Hoa Hồng
												.sticky-heart +5
														img(src="images/icon/icon-heart.png")
											.right-footer-product
												.price.d-flex
													.price-detail
														.price-old 1.300.000đ
														.price-sale 910.000đ
													.sale-off
														p 30% off
												.in-store đã bán 99
									.item-product-sale.col-per-4.style-1
										.header-product-sale.d-flex
											.avatar
												img(src="images/avatar-1.png")
												
											.member-info
												p.name Trương Bảo Anh
												p.follow 2000 follows
										.thumbnail-product
											img(src="images/product-sale.jpg")
											.overlay-content
												h3 99 Loves
												.love.active
													a(href="#")
														i.fa.fa-heart-o
														i.fa.fa-heart
										.footer-product.d-flex
											.left-footer-product
												h3
													a(href="#") Nước Hoa Hồng
												.sticky-heart +5
														img(src="images/icon/icon-heart.png")
											.right-footer-product
												.price.d-flex
													.price-detail
														.price-old 1.300.000đ
														.price-sale 910.000đ
													.sale-off
														p 30% off
												.in-store đã bán 99
				
						#tab1-2.tab-content
							|  tab content 2
						#tab1-3.tab-content
							|  tab content 4
					#tab2.tab-content
						.products-review
							.item-review
								.header-review
									h2 
										span 1.
										| Kem dưỡng ẩm
									.review-info.d-flex
										.review-count
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star
											i.fa.fa-star-o
										.rating-count
											| 588 Ratings
										.review-number
											| 25 Views
								
								.block-review.d-flex.flex-wrap
									.review-detail
										.title-review
											h2 Review Detail
										.content-review-detail.d-flex
											.thumbnail
												img(src="images/review-thumb.jpg")
											.review-average
												.average 4.2
												.review-count
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star
													i.fa.fa-star-o
											.rating-block
												h3 Based on 588 Ratings
												.progress-review.d-flex
													.left 5 star
													.middle
														.progress-bar( role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" )
													.right 355
												.progress-review.d-flex
													.left 4 star
													.middle
														.progress-bar( role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" )
													.right 177
												.progress-review.d-flex
													.left 3 star
													.middle
														.progress-bar( role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" )
													.right 39
												.progress-review.d-flex
													.left 2 star
													.middle
														.progress-bar( role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" )
													.right 14
												.progress-review.d-flex
													.left 1 star
													.middle
														.progress-bar( role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" )
													.right 3
									.review-action
										.title-review
											h2 Your Review
										.rating-action.d-flex
											span.title Rating
											.star-rating
												input( id="star-5" type="radio" name="rating" value="star-5")
												label(for="star-5" title="5 stars")
													i.fa.fa-star.active( aria-hidden="true")
												input( id="star-4" type="radio" name="rating" value="star-4")
												label(for="star-4" title="4 stars")
													i.fa.fa-star.active( aria-hidden="true")
												input( id="star-3" type="radio" name="rating" value="star-3")
												label(for="star-3" title="3 stars")
													i.fa.fa-star.active( aria-hidden="true")
												input( id="star-2" type="radio" name="rating" value="star-2")
												label(for="star-2" title="2 stars")
													i.fa.fa-star.active( aria-hidden="true")
												input( id="star-1" type="radio" name="rating" value="star-1")
												label(for="star-1" title="1 stars")
													i.fa.fa-star.active( aria-hidden="true")
											.sticky-heart +5
												img(src="images/icon/icon-heart.png")
										.rating-comment
											form(action="" method="")
												textarea Nhập bình luận
												input(type="submit" value="Gửi bình luận")
											a(href="#") View more comments
					#tab3.tab-content
						ul.tabs
							li
								a(href="#tab3-1") Phổ biến
							li
								a(href="#tab3-2") Giá thấp 
						#tab3-1.tab-content
							.list-products.d-flex
								.item-product-list.col-per-2.d-flex
									.thumbnail-product
										.avatar
											img(src="images/avatar-1.png")
										.thumbnail
											img(src="images/product-1.jpg")
									.info-product
										h3.title-product
											a(href="#") Kem duong da
										.excerpt
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
										.price 330.000 đ
										p Giá niêm yết
										.order
											a(href="#") Đặt hàng trước
											span để nhận ưu đãi 5%
								.item-product-list.col-per-2.d-flex
									.thumbnail-product
										.avatar
											img(src="images/avatar-1.png")
										.thumbnail
											img(src="images/product-1.jpg")
									.info-product
										h3.title-product
											a(href="#") Kem duong da
										.excerpt
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
										.price 330.000 đ
										p Giá niêm yết
										.order
											a(href="#") Đặt hàng trước
											span để nhận ưu đãi 5%
							.list-products.d-flex
								.item-product-list.col-per-2.d-flex
									.thumbnail-product
										.avatar
											img(src="images/avatar-1.png")
										.thumbnail
											img(src="images/product-1.jpg")
									.info-product
										h3.title-product
											a(href="#") Kem duong da
										.excerpt
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
										.price 330.000 đ
										p Giá niêm yết
										.order
											a(href="#") Đặt hàng trước
											span để nhận ưu đãi 5%
								.item-product-list.col-per-2.d-flex
									.thumbnail-product
										.avatar
											img(src="images/avatar-1.png")
										.thumbnail
											img(src="images/product-1.jpg")
									.info-product
										h3.title-product
											a(href="#") Kem duong da
										.excerpt
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et  
										.price 330.000 đ
										p Giá niêm yết
										.order
											a(href="#") Đặt hàng trước
											span để nhận ưu đãi 5%
	include includes/footer.pug