.sticky-sidebar
	.cart-history
		h3 Đã xem
		.list-product-history
			.item
				a(href="#")
					img(src="images/hist-item-1.jpg")
				a.delete(href="#")
					i.fa.fa-close
			.item
				a(href="#")
					img(src="images/hist-item-2.jpg")
				a.delete(href="#")
					i.fa.fa-close
			.item
				a(href="#")
					img(src="images/hist-item-4.jpg")
				a.delete(href="#")
					i.fa.fa-close
		.panation-cart
			a.prev-page(href="#")
				img(src="images/icon-prev.png")
			a.active(href="#") 1 
			a(href="#") / 2
			a.next-page(href="#")
				img(src="images/icon-next.png")
		p.cart-number 
			a(href="#") Giỏ hàng
			span 1
	hr
	.back-to-button.back-to-top
		i.fa.fa-angle-up
	.back-to-button.back-to-bottom
		i.fa.fa-angle-down