footer
	.footer
		.container
			.content-footer.d-flex.flex-wrap
				.col-footer.about-footer
					.content-col-footer.d-flex
						.left-about-footer
							a(href="index.html")
								img(src="images/footer-logo.png")
							img(src="images/certification.png")
						.footer-add
							h2.footer-title Celebee.vn
							h3.footer-sub-title Trụ sở chính
							p 87c Lý Thường Kiệt, Quận Hoàn Kiếm, Hà Nội
							h3.footer-sub-title Tại TP. Hồ Chí Minh
							p 87c Lý Thường Kiệt, Quận Hoàn Kiếm, Hà Nội
				.col-footer.phone-footer
					.content-col-footer
						h2.footer-title Hotline
						p Tư vấn vào các ngày trong tuần 10:00 ~ 18:00 
						p Giờ ăn trưa 12:00 ~ 13:00 Cuối tuần / ngày lễ đã đóng cửa
						p.hotline 024.255589
				.col-footer.pay-footer
					.content-col-footer
						h2.footer-title Hỗ trợ thanh toán
						.cart-line-1
							img(src="images/cart-1.jpg")
						.cart-line-2.d-flex
							img(src="images/cart-2.jpg")
							img(src="images/cart-3.jpg")
							img(src="images/cart-4.jpg")
						h2.footer-title.footer-title-last Thông tin thanh toán
						p Công ty cổ phần thương mại dịch vụ tổng hợp Celebee 
							br
							| Số tk: 
							span 36010104170703 
							| Vietcombank
				.col-footer.social-footer
					.content-col-footer
						h2.footer-title Follow us
						.social-url.social-fb 
							i.fa.fa-facebook 
							| www.facebook.com/celebee.vn
						.social-url.social-instagram
							i.fa.fa-instagram
							| www.instagram.com/celebee.vn
						h2.footer-title.footer-title-last Download App
						.app-url.d-flex
							a(href="#")
								img(src="images/appstore-icon.jpg")
							a(href="#")
								img(src="images/googleplay-icon.jpg")

