header
	.header-desktop
		.top-header
			.container
				.top-bar
					ul.top-bar-nav.d-flex.justify-content-end
						li
							a(href="#") Đăng kí
						li
						li
							a(href="#") Đăng nhập
						li.member-logged
							a(href="#") Chào Trần Mạnh Hùng
							.beecoin +5 Beecoin
						li
							a(href="#") Hướng dẫn mua hàng
						li.cart
							a(href="#") Giỏ hàng 
								span.number-item (1)
								img(src="images/icon/icon-cart.png")
							.product-added
								p
									i.fa.fa-check-circle
									span Thêm vào giỏ hàng thành công
								a(href="#") Xem chi tiết và thanh toán

				.middle-bar.d-flex
					.logo.item-middle-bar
						img(src="images/logo.png")
					.search-area.item-middle-bar
						form(action="" method ="")
							.form-group
								input(type="text" placeholder="Tìm kiếm ở đây")
								button(type="submit") Tìm kiếm
					.phone.item-middle-bar
						.phone-icon
							img(src="images/icon/icon-phone.png")
						p.phone-number 024.255589
						p.open-hour 8-21h, cả T7 &amp; CN
		.main-nav
			.container
				.nav-content
					.category-toggle
						
						a.collapse-button(data-toggle="collapse" href="#category-collapse" role="button" aria-expanded="false" aria-controls="category-collapse")
							i.fa.fa-bars
							i.fa.fa-close
							| Danh mục
						#category-collapse.collapse
							.card.card-body
								ul.category-list
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
					nav.navbar.navbar-expand-lg

						.collapse.navbar-collapse
							ul.navbar-nav
								li.nav-item
									a.nav-link(href="#") Hot Celeb
								li.nav-item
									a.nav-link(href="#") Hot Trends
								li.nav-item
									a.nav-link(href="#") Crazy Sales
								li.nav-item
									a.nav-link(href="#") Hot Celeb
								li.nav-item
									a.nav-link(href="#") Hot Celeb
								li.nav-item.live-stream
									a.nav-link(href="#") Live Stream
	.mobile-header
		#header-mobile
			.top-header
				.container
					.top-bar
						ul.top-bar-nav
							li
								a(href="#") Đăng kí
							li
							li
								a(href="#") Đăng nhập
							li.member-logged
								a(href="#") Chào Trần Mạnh Hùng
								.beecoin +5 Beecoin
							li
								a(href="#") Hướng dẫn mua hàng
		.content-mobile-menu.d-flex
			.toggle-mobile-menu.item-header-mobile
				.menu-link 
					span
					span
					span
			.logo-mobile.item-header-mobile
				img(src="images/logo.png")
			.mobile-cart.item-header-mobile
				a(href="#")
					img(src="images/icon/icon-cart.png")

			
		  	
		

						





