header
	.header-desktop
		.top-header
			.container
				.top-bar
					ul.top-bar-nav.d-flex.justify-content-end
					
						li.member-logged
							a(href="#") Chào Trần Mạnh Hùng
							.beecoin +5 
								img(src="images/icon/icon-heart.png")
						li
							a(href="#") Hướng dẫn mua hàng
						li.cart
							a(href="#") Giỏ hàng 
								span.number-item (1)
								img(src="images/icon/icon-cart.png")
							.product-added
								p
									i.fa.fa-check-circle
									span Thêm vào giỏ hàng thành công
								a(href="#") Xem chi tiết và thanh toán

				.middle-bar.d-flex
					.logo.item-middle-bar
						a(href="index.html")
							img(src="images/logo.png")
					.search-area.item-middle-bar
						form(action="" method ="")
							.form-group
								input(type="text" placeholder="Tìm kiếm ở đây")
								button(type="submit") Tìm kiếm
					.phone.item-middle-bar
						.phone-icon
							img(src="images/icon/icon-phone.png")
						p.phone-number 024.255589
						p.open-hour 8-21h, cả T7 &amp; CN
		.main-nav
			.container
				.nav-content
					.category-toggle
						
						a.collapse-button
							i.fa.fa-bars
							
							| Danh mục
						#category-collapse
							.card.card-body
								ul.category-list
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
									li.category-item
										a(href="") Danh muc 1
					nav.navbar.navbar-expand-lg

						.collapse.navbar-collapse
							ul.navbar-nav
								li.nav-item.active
									a.nav-link(href="#") Hot Celeb
								li.nav-item
									a.nav-link(href="#") Hot Trends
								li.nav-item
									a.nav-link(href="#") Crazy Sales
								li.nav-item
									a.nav-link(href="#") Hot Celeb
								li.nav-item
									a.nav-link(href="#") Hot Celeb
								li.nav-item.live-stream
									a.nav-link(href="#") Live Stream
	.mobile-header
		#header-mobile
			.top-header.d-flex
				.phone
					.phone-icon
						img(src="images/icon/icon-phone.png")
					p.phone-number 024.255589
						
				.user-link.logged
					img(src="images/avatar-1.png")
					.username Chào 
						span Trần Mạnh Hùng

			.main-nav-mobile
				
				ul.navbar-nav.d-flex
					li.nav-item.toggle-menu.has-submenu
						a.nav-link(href="#") Thời trang
						ul.sub-menu
							li 
								a(href="#") Men
							li 
								a(href="#") Girl
							li 
								a(href="#") Women
					li.nav-item.toggle-menu.has-submenu
						a.nav-link(href="#") Mỹ Phẩm
						ul.sub-menu
							li 
								a(href="#") Kem dưỡng da
							li 
								a(href="#") Girl
							li 
								a(href="#") Women
					li.nav-item
						a.nav-link(href="#") Crazy Sales
					li.nav-item
						a.nav-link(href="#") Hot Celeb
					li.nav-item
						a.nav-link(href="#") Hot Celeb
					li.nav-item.live-stream
						a.nav-link(href="#") Live Stream
			
		.content-mobile-menu.d-flex
			.toggle-mobile-menu.item-header-mobile
				.menu-link 
					span
					span
					span
			.logo-mobile.item-header-mobile
				a(href="#")
					img(src="images/mobile-logo.png")
			
			.mobile-serch.item-header-mobile
				.toggle-search
					img(src="images/icon-mobile-search.png")
					.search-box
						.form-group
							input(type="text", placeholder="Tìm kiếm")
							button(type="submit") Tìm kiếm
			.mobile-cart.item-header-mobile
				a(href="#")
					img(src="images/icon-mobile-cart.png")
		.overlay-menu
		

			
		  	
		

						





