header
	.top-header
		.container
			.top-bar
				ul.top-bar-nav.d-flex.justify-content-end
					li
						a(href="#") Chào Trần Mạnh Hùng
					li
						a(href="#") Hướng dẫn mua hàng
					li
						a(href="#") Giỏ hàng
					li.cart
						a(href="#") 
							i.fa.fa-shopping-cart
			.middle-bar.d-flex
				.logo
					img(src="images/logo.png")
				.search-area
					form(action="" method ="")
						.form-group
							input(type="text" placeholder="Tìm kiếm ở đây")
							button(type="submit") Tìm kiếm
				.phone


