.live-colection
	.live-title
		span.live-text LIVE 
		| Bộ sưu tập trang sức của Celeb 
		span Diệp Anh 
		| sẽ diễn ra trong
		.countdown(data-time="2019/01/01 8:30")
	.livestream-block.d-flex.flex-wrap
		.live-area.d-flex
			img(src="images/live-area.png")
			.overlay-play
				a.play-video(href="#")
					i.fa.fa-play
				.title-live
					| Xem 
					span livestream 
					| nhận mã giảm giá
		.product-area.d-flex.flex-wrap
			.left-product-area
				.thumbnail-product.slide-thumbnail-product
					.slide-item
						img(src="images/product-sale.jpg")
						.footer-product
							.left-footer-product
								h3
									a(href="#") Nước Hoa Hồng
							.right-footer-product
								.price.d-flex
									.price-detail
										.price-old 1.300.000đ
										.price-sale 910.000đ
									.sale-off
										p 30% off
								.in-store đã bán 99
							
					.slide-item
						img(src="images/product-sale-2.jpg")
						.footer-product
							.left-footer-product
								h3
									a(href="#") Nước Hoa Hồng
							.right-footer-product
								.price.d-flex
									.price-detail
										.price-old 1.300.000đ
										.price-sale 910.000đ
									.sale-off
										p 30% off
								.in-store đã bán 99
							
					.slide-item
						img(src="images/product-sale.jpg")
						.footer-product
							.left-footer-product
								h3
									a(href="#") Nước Hoa Hồng
							.right-footer-product
								.price.d-flex
									.price-detail
										.price-old 1.300.000đ
										.price-sale 910.000đ
									.sale-off
										p 30% off
								.in-store đã bán 99
				a(href="#").add-cart Mua ngay			
				

			.right-product-area
				.multi-product-slide
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar.active
							img(src="images/avatar-1.png")
							span Live
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00
					.slide-item.d-flex
						.avatar
							img(src="images/avatar-1.png")
						.product-name 
							a(href="#") Áo vest
						.date-time
							p 16/08
							p 18.00 - 10.00