#myModal.modal.fade(role="dialgo")
	.modal-dialog
		.modal-content
			
			.modal-body
				button.close(data-dismiss="modal") Close
				.content-login.d-flex
					.left-login
						h2 Quyền lợi khi đăng ký thành viên
						ul
							li Hưởng chính sách giá đặc biệt cho thành viên
							li Sản phẩm đa dạng
							li Đăng kí để được thưởng ưu đãi giao dịch hấp dẫn
							li +5 becoin cho mỗi lần đăng kí
						.register-button
							a(href="#") Đăng kí
					.right-login
						img(src="images/logo.png")
						h2 Login

